body {
    background-image: url("https://s3.us-east-2.amazonaws.com/portfoliopictureslakeviewit/IMG1.jpg");
    background-color: #cccccc;
    background-size: 1424px 1024px;
    background-repeat: no-repeat;

}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
}
