<h1>Hello!</h1>

<p>
  This is my first app created. From fresh Rails install to Deployment. This Program took only an hour by a green dev and taught me so many valuable lessons in the process. The page alone took only a matter of minutes. Where the experience was gained aside from the new installation of rails and the page, was using git for version control, the upload to Bitbucket and the deployment process through Heroku. There were some hiccups along the way with the ssh-key and the log-in process through Terminal but I am better for it.
</p>

<p>
  Please Visit my <a href="michaelthomasjohnson.tech">Portfolio</a>
</p>
